{% extends 'base.html' %}

{% block link %}
<style>
    .custom-card {
        width: 125px;
        height: 187px;
        margin: 10px;
        border: 1px solid #ccc;
        display: inline-block;
        text-align: center;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
    .custom-card img {
        max-width: 100%;
        max-height: 100%;
    }
</style>
{% endblock link %}

{% block content %}
<div id="list-book-detail">
    <p>{{listbook.id}}</p>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="left-content">
                    <h6>List by {{ listbook.user }} </h6>
                    <div class="title-intro">
                        <h1> {{ listbook.name }}</h1>
                        <div class="body-text"> 
                            <p> {{ listbook.description }}</p>
                        </div>
                    </div>
                    <div class="book-container">
                        <div class="row">
                            {% for book in listbook.books.all %}
                            <div class="col-md-3">
                                <div class="card custom-card">
                                    <img src="imageUrl" alt="Book Cover">
                                    <div class="card-footer">
                                    <p class="card-text">{{book.title}}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
