{% extends 'base.html' %}

    {% block nav %}
        <!-- nanti tambahin buat fungsi/modul masing2 -->
        <!-- untuk sekarang belom ada fungsionalitasnya, baru tombol -->
        <li class="nav-item">
            <a class="nav-link" href="/collections/">My Collection</a>
        </li>
        <!-- Logout Button (only visible if user is logged in) -->
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
    {% endblock nav %}

    

{% block extra_css %}
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
<style>
    .main-title {
        margin-top: 40px;
        letter-spacing: 0.5px; /* mengurangi jarak antar huruf */
    }
</style>
{% endblock %}

{% block content %}
<div class="container my-4" style="font-family: 'Nunito', sans-serif;">
    <h1 class="text-center main-title" style="font-weight: 700;">Browse Books</h1>
    
    <div class="mb-4 text-center">
        <span style="font-weight: 600; font-size: 18px; border-bottom: 2px solid #333; letter-spacing: 0.5px;">Your book is not here?</span><br>
        <a href="{% url 'submit_book_request' %}" class="btn btn-primary mt-2 mb-5" style="font-size: 14px; font-weight: 700;">Request new book</a>
    </div>
    
    <div class="row">
        {% for book in books %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100 shadow d-flex">
                    <img data-isbn="{{ book.ISBN }}" class="card-img-left" alt="Book Cover" style="height: 200px; width: 50%; object-fit: cover;">
                    <!-- <img class="card-img-left thumbnail" alt="Book Cover" style="height: 200px; width: 50%; object-fit: cover;" data-isbn="{{ book.ISBN }}"> -->
                    <!-- <img id="cover-{{ book.id }}" class="card-img-left" alt="Book Cover" style="height: 200px; width: 50%; object-fit: cover;"> -->
                    <div class="card-body">
                        <h5 class="card-title text-truncate" style="font-weight: 600; letter-spacing: 0.5px; ">
                            <a href="/collections/detail_buku/{{ book.pk }}">{{ book.title }}</a>
                        </h5>
                        <p class="card-text" style="font-weight: 400;">{{ book.author }}</p>
                    </div>
                </div>
            </div>
            <script>
                getCover('{{ book.ISBN }}');
            </script>
        {% empty %}
            <div class="col-12">
                <p class="text-center">No books available.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

<script>
    function getCover(isbn) {
        const url = 'https://www.googleapis.com/books/v1/volumes?q=isbn:' + isbn;
        fetch(url, {
            method: 'GET',
        }).then(response => response.json())
            .then(response => {
                if (response.items && response.items.length > 0) {
                    var item = response.items[0];
                    var thumb = item.volumeInfo.imageLinks.thumbnail;
                    let imgZoom = thumb.replace('zoom=1', 'zoom=6');
                    let imgHttps = imgZoom.replace('http', 'https');
                    document.querySelector(`img[data-isbn="${isbn}"]`).setAttribute('src', imgHttps);
                }
            });
    }
</script>