{% extends 'base.html' %}

{% block nav %}
        <li class="nav-item">
            <a class="nav-link" href="/collections/">My Collection</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rankingBuku/">Ranking</a>
        </li>
        <!-- Jika pengguna telah login -->
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'shared_models:logout' %}">Logout</a>
            </li>
        {% else %} 
        <!-- Jika pengguna belum login -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'shared_models:login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'shared_models:register' %}">Register</a>
            </li>
        {% endif %}
    {% endblock nav %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-dark text-white"> <!-- Merubah warna header card menjadi hitam -->
                        <h4 class="mb-0">Submit Request</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Submit Request</button> <!-- Merubah warna tombol menjadi biru -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
