{% extends 'base.html' %}


{% block meta %}
<title>{{book.title}}</title>
{% endblock meta %}


{% block link %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
<style>
    body {
        font-family: 'Tilt Neon', sans-serif;
        background-color: rgb(86, 85, 85);
    }

    .nav-link:hover {
    color: #ffffff;
    }
</style>
{% endblock link %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link my-2 my-lg-0" href="/">Browse Book</a>
    </li>
    <li class="nav-item">
        <a class="nav-link my-2 my-lg-0" href="/collections/">MyCollections</a>
    </li>

    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link my-2 my-lg-0" href="/rankingBuku/">Ranking</a>
    </li>
    <li class="nav-item">
        <a class="nav-link my-2 my-lg-0" href="{% url 'shared_models:logout' %}">Logout</a>
    </li>

    {% else %}
    <li class="nav-item">
        <a class="nav-link my-2 my-lg-0" href="{% url 'shared_models:login' %}?next={{ request.path }}">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link my-2 my-lg-0" href="{% url 'shared_models:register' %}">Register</a>
    </li>
    {% endif %}
    
{% endblock nav %}

{% block content %}

<!-- DISPLAY BOOK INFORMATION IN  CARD LAYOUT-->
<div class="container-fluid mt-4 mb-4">
    <div class="card p-3 book text-bg-dark p-3 shadow-lg rounded" data-isbn="{{book.ISBN}}" book-id="{{book.pk}}" book-page="{{book.page_count}}" is-login="{{user.is_authenticated}}">
        <div class="row g-2">
            <div class="col-md-4">
                <img src="" alt="Book Cover" class="img-fluid thumbnail rounded">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title"><strong>{{book.title}}</strong></h3>
                    <p class="card-text"><small><i class="bi bi-pencil-fill me-2"></i>Author: {{book.author}}</small></p>
                    <p class="card-text"><strong><i class="bi bi-star-fill me-2"></i>Rating</strong>: {{rating}}</p>
                    <p class="card-text"><strong><i class="bi bi-file-arrow-up-fill me-2"></i>Publisher</strong>: {{book.publisher}}</p>
                    <p class="card-text"><strong><i class="bi bi-file-earmark-break-fill me-2"></i>Total Page</strong>: {{book.page_count}}</p>
                    <p class="card-text"><strong><i class="bi bi-film me-2"></i>Genre</strong>: {{book.genre}}</p>
                    <p class="card-text"><strong><i class="bi bi-list-ol me-2"></i>ISBN</strong>: {{book.ISBN}}</p>
                    <p class="card-text"><strong><i class="bi bi-globe2 me-2"></i>Language</strong>: {{book.language}}</p>
                    <p class="card-text"><strong><i class="bi bi-calendar-event-fill me-2"></i>Published Date</strong>: {{book.published_date}}</p>
                    <p class="card-text text-start"><strong>Description</strong>:<br> {{book.description}}</p>
                    <div class="mt-4 d-flex flex-wrap flex-row justify-content-start gap-3" id="button-collection"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL TO ADD COLLECTIONS -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content fw-bold">
            <div class="modal-header" id="modal-header"></div>
            <div class="modal-body">
                <form id="form-collection" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="rating" class="col-form-label">Rating:</label>
                        <select class="form-control" id="rating" name="rating"></select>
                    </div>
                    <div class="mb-3">
                        <label for="current_page" class="col-form-label">Page:</label>
                        <input type="number" class="form-control" id="current_page" name="current_page" value=""></input>
                    </div>
                    <div class="mb-3">
                      <label for="status_baca" class="col-form-label">Status:</label>
                      <select class="form-control" id="status_baca" name="status_baca"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="modal-footer"></div>
        </div>
    </div>
</div>


<script>

    function getCover() {
        var isbn = document.querySelector('.book').getAttribute('data-isbn')

        const url = 'https://www.googleapis.com/books/v1/volumes?q=isbn:' + isbn
        fetch(url, {
            method: 'GET',
        }).then(response => response.json())
            .then(response => handleResponse(response))
    }

    function handleResponse(response) {
        var item = response.items[0]
        var thumb = item.volumeInfo.imageLinks.thumbnail;

        let imgZoom = thumb.replace('zoom=1', 'zoom=6')
        let imgHttps = imgZoom.replace('http','https')
        document.querySelector('.thumbnail').setAttribute('src', imgHttps)
    }

    // Tampilkan cover ketika petama kali diakses
    getCover()


    async function getBookCollection(){
        var idBook = document.querySelector('.book').getAttribute('book-id')
        const url = `/collections/get_collection_json/${idBook}/`;
        return fetch(url).then((res) => res.json())
    }

    async function refreshPage(){
        var is_login = document.querySelector('.book').getAttribute('is-login')

        if (is_login === 'True'){

            document.getElementById('modal-header').innerHTML = ""
            document.getElementById('rating').innerHTML = ""
            document.getElementById('status_baca').innerHTML = ""
            document.getElementById('modal-footer').innerHTML = ""
            document.getElementById('button-collection').innerHTML = ""
            var idBook = document.querySelector('.book').getAttribute('book-id')

            const books = await getBookCollection()
            var statusBacaChoices = [
                {value: 'C', label: 'Completed'},
                {value: 'R', label: 'Reading'},
                {value: 'PR', label: 'Plan to Read'},
                {value: 'D', label: 'Dropped'}
            ];

            let modalHeader = ''
            let ratingHTML = ''
            let statusHTML = ''
            let modalFooter = ''
            let buttonHTML = ''

            if (books.length == 0){
                modalHeader += `
                <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Add to MyCollection</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                `

                ratingHTML += '<option value="0">Select Rating:</option>'
                for (var i = 1; i <= 10; i++){
                    ratingHTML += `<option value="${ i }">${ i }</option>`
                }

                statusHTML += `<option value="">Select Status:</option>`
                for (var i = 0; i < statusBacaChoices.length; i++) {
                    var choice = statusBacaChoices[i];
                    var value = choice.value;
                    var label = choice.label;
                    statusHTML += `<option value="${value}"}>${label}</option>`
                }

                modalFooter += `
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark" id="button_add" data-bs-dismiss="modal" onclick="addCollection()">Add</button>
                `

                buttonHTML += `
                <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal""><i class="bi bi-plus-circle me-1"></i>Add to Collections</button>
                <a class="btn btn-outline-light" href="/forumDiskusi/book_reviews/${idBook}/"><i class="bi bi-chat-dots me-1"></i>Review Book</a>
                `

            } else {
                const book = books[0];  

                modalHeader += `
                <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Edit Collection</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                `
                
                ratingHTML += '<option value="0">Select Rating:</option>'
                for (var i = 1; i <= 10; i++){
                    ratingHTML += `<option id="rating-${i}" value="${ i }"  ${i == book.fields.rating ? 'selected' : ''}>${ i }</option>`
                }

                document.getElementById('current_page').setAttribute("value",book.fields.current_page)

                for (var i = 0; i < statusBacaChoices.length; i++) {
                    var choice = statusBacaChoices[i];
                    var value = choice.value;
                    var label = choice.label;
                    statusHTML += `<option value="${value}" ${value == book.fields.status_baca ? 'selected' : ''}>${label}</option>`
                }

                modalFooter += `
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark" id="button_add" data-bs-dismiss="modal" onclick="editCollection()">Edit</button>
                `

                buttonHTML += `
                <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal""><i class="bi bi-pencil-square me-1"></i>Edit Collection</button>
                <a class="btn btn-outline-light" href="/forumDiskusi/book_reviews/${idBook}/"><i class="bi bi-chat-dots me-1"></i>Review Book</a>
                `
        
            }

            document.getElementById('modal-header').innerHTML = modalHeader;
            document.getElementById('rating').innerHTML = ratingHTML
            document.getElementById('status_baca').innerHTML = statusHTML
            document.getElementById('modal-footer').innerHTML = modalFooter
            document.getElementById('button-collection').innerHTML = buttonHTML
        }
    }

    // refresh page pertama kali
    refreshPage()

    function isValid(rating,current_page,status_baca){
        if (!rating || !current_page || !status_baca) {
            // Tampilkan pesan error pada modal jika input tidak valid
            alert('Harap isi semua field!');
            return false;
        }

        var total_page = Number(document.querySelector('.book').getAttribute('book-page'))

        if (current_page < 0 || current_page > total_page){
            alert('Input yang dimasukkan tidak valid')
            return false
        }
        return true;
    }

    function addCollection(){
        var formData = new FormData(document.querySelector('#form-collection'))
        var rating = formData.get('rating');
        var current_page = formData.get('current_page');
        var status_baca = formData.get('status_baca');

        if (isValid(rating,current_page,status_baca)){
            var id = document.querySelector('.book').getAttribute('book-id')
            var url = `/collections/add_collection/${id}/`;

            fetch(url,{
                method:"POST",
                body: formData
            }).then(refreshPage)

            document.getElementById("form-collection").reset()
        }
        return false
    }


    async function editCollection(){
        var formData = new FormData(document.querySelector('#form-collection'))
        var rating = formData.get('rating');
        var current_page = formData.get('current_page');
        var status_baca = formData.get('status_baca');

        if (isValid(rating,current_page,status_baca)){
            const books = await getBookCollection()
            const book = books[0];
            var url = `/collections/edit_collection/${book.pk}/`;

            fetch(url,{
                method:"POST",
                body: formData
            }).then(refreshPage)

            document.getElementById("form-collection").reset()
        }
        
        return false
    }

</script>

{% endblock content %}
