{% extends 'base.html' %}

{% block link %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: rgb(86, 85, 85);
    }
</style>

{% endblock link %}

{% block content %}

<!-- NAVBAR -->
<nav class="navbar bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">
        <i class="bi bi-journal-bookmark-fill"></i>
        LiteraLand
      </a>
      <div class="d-flex flex-wrap flex-row gap-3 ">
        <a class="text-white link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="">Browse Book</a>
        <a class="text-white link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="">My Collections</a>
        <a class="text-white link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="">Recommendation</a>
        <!-- DISPLAY IF IN GUEST MODE -->
        <a class="text-white link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="">Login</a>
        <a class="text-white link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="">Register</a>
      </div>
    </div>
  </nav>


<!-- DISPLAY BOOK INFORMATION IN  CARD LAYOUT-->
<div class="container-fluid mt-4 mb-4">
    <div class="card p-3 book text-bg-dark p-3 shadow-lg rounded" data-isbn="{{book.ISBN}}">
        <div class="row g-2">
            <div class="col-md-4">
                <img src="" alt="Book Cover" class="img-fluid thumbnail rounded">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{book.title}}</strong></h5>
                    <p class="card-text font-monospace"><small>Author: {{book.author}}</small></p>
                    <p class="card-text font-monospace"><strong>Rating</strong>: {{rating}}</p>
                    <p class="card-text font-monospace"><strong>Publisher</strong>: {{book.publisher}}</p>
                    <p class="card-text font-monospace"><strong>Total Page</strong>: {{book.page_count}}</p>
                    <p class="card-text font-monospace"><strong>Genre</strong>: {{book.genre}}</p>
                    <p class="card-text font-monospace"><strong>ISBN</strong>: {{book.ISBN}}</p>
                    <p class="card-text font-monospace"><strong>Language</strong>: {{book.language}}</p>
                    <p class="card-text font-monospace"><strong>Published Date</strong>: {{book.published_date}}</p>
                    <p class="card-text text-start"><strong>Description</strong>:<br> {{book.description}}</p>
                    <div class="mt-4 d-flex flex-wrap flex-row justify-content-start gap-3">
                        <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal"">Add to Collections</button>
                        <button class="btn btn-outline-light">Update Book Status</button>
                        <button class="btn btn-outline-light">Review Book</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL TO ADD COLLECTIONS -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content font-monospace fw-bold">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Add to Collections</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="rating" class="col-form-label">Rating:</label>
                        <select class="form-control" id="rating" name="rating">
                            {% for i in range %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="current_page" class="col-form-label">Page:</label>
                        <input type="number" class="form-control" id="current_page" name="current_page"></input>
                    </div>
                    <div class="mb-3">
                      <label for="status_baca" class="col-form-label">Status:</label>
                      <select class="form-control" id="status_baca" name="status_baca">
                          {% for status, display in StatusBaca.choices %}
                              <option value="{{ status }}">{{ display }}</option>
                          {% endfor %}
                      </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add to Collections</button>
            </div>
        </div>
    </div>
</div>


<script>
    function getCover() {
        var isbn = document.querySelector('.book').getAttribute('data-isbn')

        const url = 'https://www.googleapis.com/books/v1/volumes?q=isbn:' + isbn
        fetch(url, {
            method: 'GET',
        }).then(response => response.json())
            .then(response => handleResponse(response))
    }

    function handleResponse(response) {
        var item = response.items[0]
        var thumb = item.volumeInfo.imageLinks.thumbnail;

        let imgZoom = thumb.replace('zoom=1', 'zoom=6')
        document.querySelector('.thumbnail').setAttribute('src', imgZoom)
    }

    getCover()

</script>

{% endblock content %}
